* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
 margin-left: 20px;
 margin-top: 160px;
 height: 400px;
 width: 400px;
 border: 2px solid black;
 border-radius: 20px;
 text-align: center;
 background-color: rgba(128, 192, 248, 0.318);
 font-size: 170px;
 display: flex;
 justify-content: center;
 align-items: center;
}

button{
  padding: 10px 20px;
  margin-top: 20px;
  height: 50px;
  width: 200px;
  border: 2px transparent;
  border-radius: 20px;
  font-size: large;
}

 button, #btn1{
  margin-left: 20px;
}